<aside class="aside-menu">
  <div class="aside-menu__wrapper">
    <p class="aside-menu__text">
      apartment renovation
    </p>

    <ul class="aside-menu__social-list">
      <li class="aside-menu__social">
        <a href="https://www.facebook.com/"
           target="_blank"
           rel="noopener noreferrer">
          {{> svg-manager
          id="icon-facebook" width="24px" height="22px"}}
        </a>
      </li>

      <li>
        <a href="https://www.instagram.com/"
           target="_blank"
           rel="noopener noreferrer">
          {{> svg-manager
          id="icon-inst" width="20px" height="20px"}}
        </a>
      </li>

      <li>
        <a href="https://web.telegram.org/"
           target="_blank"
           rel="noopener noreferrer">
          {{> svg-manager
          id="icon-tg"  width="20px" height="20px"}}
        </a>
      </li>

      <li>
        <a href="https://www.youtube.com/"
           target="_blank"
           rel="noopener noreferrer">
          {{> svg-manager
          id="icon-youtube" width="32px" height="22px"}}
        </a>
      </li>
    </ul>
  </div>
</aside>