$first-font-family: "Open Sans", sans-serif;
$second-font-family: "Bruno Ace", sans-serif;
$third-font-family:  "Roboto", sans-serif;
$fourth-font-family: "Bruno Ace SC", sans-serif;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$color-main-text: #fff;
$color-aside-text: rgba(255, 255, 255, 0.5);
$color-text-dark: #000;
$color-text-light: #FFAC30;
$color-border1: rgba(0, 0, 0, 0.15);
$color-border2: rgba(255, 255, 255, 0.3);
$color-border3: rgba(255, 255, 255, 0.1);
$color-border4: rgba(255, 255, 255, 0.15);
$color-border5: rgba(255, 255, 255, 0.25);
$color-border6: rgba(255, 255, 255, 0.4);
$color-error: #ff4242;
$color-bg1: rgba(0, 0, 0, 0.45);
$color-bg2: rgba(0, 0, 0, 0.6);
$color-shadow: rgba(0, 0, 0, 0.25);

